.productdisplay{
    display: flex;
    margin: 50px 170px;
    padding: 50px;
    gap: 150px;
    border-bottom: #b8b8b8 1px solid;
}

.productdisplay-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
    width: 50vw;
}

.productdisplay-img-list{
    display: flex;
    gap: 16px;
}

.productdisplay-img-list img{
    height: 163px;
}

.productdisplay-main-img{
    height: 500px;
}

.productdisplay-right{
    display: flex;
    flex-direction: column;
    width: 50vw;
    gap: 100px;
}

.productdisplay-description{
    font-size: 18px;
    font-family: "poppins";
}

.productdisplay-right h1{
    font-size: 40px;
    font-weight: 700;
    color: #3d3d3d;
}


.productdisplay-right h2{
    font-size: 22px;
    margin: 25px 0px 5px 0px;
    font-weight: 600;
    color: #3d3d3d;
}

.productdisplay-right-star{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}

.star{
    width: 20px;
}

.empty-star{
    width: 16px;
}

.right-down{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.productdisplay-prices{
    display: flex;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}

.productdisplay-price-old{
    color: #5c5c5c;
    text-decoration: line-through;
}

.productdisplay-price-new{
    color: #ff4141;
}

.productdisplay-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}

.productdisplay-right-category{
    margin: 10px;
}

.productdisplay-right-category span{
    font-weight: 600;
}

@media(max-width:1280px)
{
    .productdisplay{
        margin: 0px 60px;
    }
    .productdisplay-left{
        gap: 10px;
    }
    .productdisplay-img-list{
        gap: 10px;
    }
    .productdisplay-img-list img{
        height: 120px;
    }
    .productdisplay-main-img{
        width: auto;
        height: 510px;
    }
    .productdisplay-right{
        margin: 0px 30px;
    }
    .productdisplay-right h1{
        font-size: 22px;
    }
    .productdisplay-right-star{
        gap: 3px;
        font-size: 13px;
    }
    .productdisplay-prices{
        margin: 10px 0px;
        font-size: 18px;
    }
    .productdisplay-description{
        font-size: 13px;
    }

    .productdisplay-right-size h1{
        margin-top: 20px;
        font-size: 20px;
    }
    .productdisplay-right-sizes div{
        padding: 14px 20px;
    }
    .productdisplay-right button{
        width: 150px;
        padding: 15px 0px;
        margin-bottom: 20px;
    }
    .productdisplay-right-category{
        margin-top: 5px;
        font-size: 14px;
    }
}

@media(max-width:1024px)
{
    .productdisplay{
        margin: 0px 30px;
    }
    .productdisplay-left{
        gap: 5px;
    }
    .productdisplay-img-list img{
        height: 80px;
    }
    .productdisplay-main-img{
        height: 350px;
    }
    .productdisplay-right h1{
        font-size: 18px;
    }
    .productdisplay-right-star img{
        width: 15px;
    }
    .productdisplay-description{
        font-size: 12px;
    }
    .productdisplay-right-sizes{
        margin: 10px 0px;
    }
    .productdisplay-right-sizes div{
        padding: 10px 16px;
        font-size: 12px;
    }
    .productdisplay-right button{
        width: 120px;
        padding: 10px 0px;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .productdisplay-right-category{
        font-size: 12px;
    }
}

@media(max-width:800px)
{
    .productdisplay{
        margin: 0px 10px;
    }
    .productdisplay-left{
        gap: 0px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .productdisplay-img-list{
        flex-direction: row;
        gap: 6px;
    }
    .productdisplay-img-list img{
        height: 70px;
    }
    .productdisplay-main-img{
        height: 300px;
    }
    .productdisplay-right h1{
        font-size: 14px;
    }
    .productdisplay-right-star img{
        width: 13px;
    }
    .productdisplay-description{
        font-size: 10px;
    }

    .productdisplay-right-size h1{
        margin-top: 10px;
    }

    .productdisplay-right-sizes{
        margin-top: 10px;
        gap: 5px;
    }
    .productdisplay-right-sizes div{
        padding: 4px 11px;
    }
    .productdisplay-right button{
        width: 100px;
        font-size: 12px;
    }
    .productdisplay-right-category{
        font-size: 10px;
    }
}

@media(max-width:800px)
{
    .productdisplay{
        flex-direction: column;
    }
    .productdisplay-left{
        gap: 10px;
        flex-direction: row;
        margin: auto;
    }

    .productdisplay-img-list{
        flex-direction: column;
        gap: 8px;
    }
    .productdisplay-img-list img{
        height: 75px;
    }
    .productdisplay-main-img{
        height: 330px;
    }

    .productdisplay-right{
        margin: 5px;
    }
    .productdisplay-right h1{
        font-size: 20px;
        font-weight: 500;
        margin-top: 15px;
    }
    .productdisplay-right-star img{
        width: 15px;
    }
    .productdisplay-right-sizes{
        margin: 20px 0px;
        gap: 10px;
    }
    .productdisplay-right-sizes div{
        padding: 10px 16px;
        font-size: 14px;
    }
    .productdisplay-right button{
        width: 130px;
        font-size: 15px;
        padding: 12px 0px;
    }
    .productdisplay-right-category{
        font-size: 16px;
    }
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(6px); /* Blur the background */
  background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent overlay */
  z-index: 1000; /* Ensure it appears above other content */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-form {
  background: white;
  padding: 2rem;
  border-radius: 30px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1001;
  animation: fadeInUp 0.4s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-form input {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.modal-form button {
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  background: #333;
  color: white;
  transition: background 0.2s;
  margin: 5px;
}

.modal-form button:hover {
  background: #000;
}
