.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    gap: 350px;
    box-shadow: 0 2px 15px -2px rgb(255, 255, 255);
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: white;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo img{
    width: 150px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #FF4141;
}

button{
    width: 150px;
    height: 50px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}

/* .nav-login-cart button:active{
    background: #f3f3f3;
}

.nav-login-cart img{
    width: 40px;
    height: 40px;
} */

/* .nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 11px;
    background: red;
    color: white;
} */
/* 
.nav-dropdown{
    display: none;
} */

@media (max-width: 1280px) {
    .navbar{
        padding: 12px;
    }

    .nav-logo img{
        width: 100px;
    }

    .nav-menu{
        gap: 30px;
        font-size: 15px;
    }

    button{
        width: 120px;
        height: 40px;
        outline: none;
        border: 1px solid #7a7a7a;
        border-radius: 60px;
        color: #515151;
        font-size: 18px;
        font-weight: 500;
        background: white;
        cursor: pointer;

    }
}

@media (max-width: 1024px) {
    .navbar{
        padding: 10px;
    }

    .nav-menu{
        gap: 20px;
        font-size: 14px;
    }

    .nav-logo img{
        width: 80px;
    }

    button{
        width: 100px;
        height: 30px;
        outline: none;
        border: 1px solid #7a7a7a;
        border-radius: 75px;
        color: #515151;
        font-size: 16px;
        /* font-weight: 500; */
        background: white;
        cursor: pointer;
    }
}

@media (max-width: 800px) {
    .navbar{
        padding: 10px;
        justify-content: center;
    }

    .nav-menu{
        gap: 15px;
        font-size: 12px;
    }

    .nav-menu li{
        display: none;
    }

    .nav-logo img{
        width: 60px;
    }

    button{
        width: 80px;
        height: 20px;
        outline: none;
        border: 1px solid #7a7a7a;
        border-radius: 60px;
        color: #515151;
        font-size: 14px;
        /* font-weight: 500; */
        background: white;
        cursor: pointer;
    }
}

@media (max-width: 550px) {
    .navbar{
        gap: 90px;
    }

    .nav-menu{
        font-size: 8px;
    }

    .nav-menu li{
        display: none;
    }

    .nav-logo img{
        width: 60px;
    }

    button{
        width: 60px;
        height: 20px;
        outline: none;
        border: 1px solid #7a7a7a;
        border-radius: 60px;
        color: #515151;
        font-size: 12px;
        font-weight: 500;
        background: white;
        cursor: pointer;
    }
}